.rightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.rightSection > h1 {
  color: hsl(271, 36%, 24%);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.DescriptionBox {
  max-width: 400px;
  color: hsl(270, 7%, 64%);
}
